<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="/about">About <%=shopData.shopName%></a></p>
    <p><a href="/weather">Check the current weather forecast</a></p>
    <p><a href="/car/search">Search for cars</a></p>
    <p><a href="/car/addcar">Add a new car</a></p>
    <p><a href="/car/list">List of cars</a></p>
    <p><a href="/car/bargains">Bargain cars</a></p>
    <p><a href="/car/addmaintenance">Add new maintenance</a></p>
    <p><a href="/car/check-maintenance">Maintenance history</a></p>
    <p><a href="/car/adddealer">Add a new car dealer</a></p>
    <p><a href="/car/list-dealers">List of car dealers</a></p>
    <p><a href="list">List users</a></p>
    <p><a href="/api-explorer">API Explorer</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login to your account</a></p>
    <p><a href="login">Logout</a></p>
    <footer class="footer">
        <div class="footer-content">
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
            <p class="footer-text">© 2025 Car Inventory System - Powered by Spinning Cars!</p>
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
        </div>
    </footer>
  </body>
</html>
